In [1]:
from GHEAnalysisLib import import_studenthuset_data_to_dataframe

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
path_to_files = "D:\\Dropbox\\OSU Courses\\13 Spring 2018\\6010 Data Analysis for Thermal Systems\\Data Archive\\Studenthuset\\Studenthuset data detailed excel files\\2016\\Original_data"

In [3]:
json_name = "import_data.json"

In [4]:
df = import_studenthuset_data_to_dataframe(path_to_files, json_name)

Importing File: Ambient_Temp_2016.xlsx
	Sheet: Sheet1
Importing File: Cm_Cooling_001_Volume_meter_value_2016_1473084170.xlsx
	Sheet: 1473084170
Importing File: CP_Cooling_101_Capacity_2016_1473085846.xlsx
	Sheet: 1473085846
Importing File: CQ_Cooling_001_2016_1473082720.xlsx
	Sheet: 1473082720
Importing File: CTB_Cooling_001_Temp_out_2016_1473083283.xlsx
	Sheet: 1473083283
Importing File: CTR_Cooling_001_temp_return_2016_1473083699.xlsx
	Sheet: 1473083699
Importing File: DHW_volume_meter_value_2016_1473082210.xlsx
	Sheet: 1473082210
Importing File: EQ_EL007_2016.xlsx
	Sheet: Sheet1
Importing File: Hm_Fluid_volume_meter_htg_2016_1473081579.xlsx
	Sheet: 1473081579
Importing File: HP_heating_Capacity_2016_1473080034.xlsx
	Sheet: 1473080034
Importing File: HQ_Heating_2016_1473079241.xlsx
	Sheet: 1473079241
Importing File: HTB_Temp_htg_to_bldg_2016_1473080485.xlsx
	Sheet: 1473080485
Importing File: HTR_Temp_htg_return_2016_1473081099.xlsx
	Sheet: 1473081099
Importing File: Not_for_use_El_004_HPs_and_Circpumps_2016.xlsx
	Sheet: 1473084742
Importing File: Unknown_Cooling_002_energy_2016_1473085401.xlsx
	Sheet: 1473085401

In [5]:
df.head()

,Ambient Temp (C),Cooling (MWh),Cooling 001 Capacity (kW),Cooling 001 Temp Out (C),Cooling 001 Temp Return (C),Cooling 001 Volume Meter Value (m3),Cooling 002 Energy (MWh),EQ EL007 Energy (kWh),Electricity 004 HPs and Circ Pumps (kWh),Fluid Volume Meter - Heating (m3),Heat from HPs to Bldg (MWh),Heating Capacity (kW),Heating Temp Return from Bldg (C),Heating Temp to Bldg (C),Hot Water Volume Meter Value (m3)
2015-12-31 23:00:00,NaN,27.5,NaN,8.0,8.8,619.897,188.01,NaN,224787.62,44126.0,432.91,25.0,31.0,36.0,735.61
2016-01-01 00:00:00,NaN,27.5,NaN,8.2,8.7,619.925,188.03,NaN,224802.36,44131.0,432.95,22.0,32.0,37.0,735.61
2016-01-01 01:00:00,2.722222,27.5,NaN,8.0,8.5,619.954,188.06,13.83,224817.21,44136.0,432.99,30.0,32.0,40.0,735.61
2016-01-01 02:00:00,2.777778,27.5,NaN,7.6,8.8,619.983,188.08,12.63,224830.57,44140.0,433.03,64.0,30.0,41.0,735.61
2016-01-01 03:00:00,2.777778,27.5,NaN,7.8,8.8,620.012,188.09,12.03,224843.68,44145.0,433.07,47.0,31.0,38.0,735.61

In [6]:
df.plot(y=['Cooling (MWh)'])

C:\ProgramData\Anaconda3\lib\site-packages\pandas\plotting\_core.py:1716: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  series.name = label